/* Selects entirety of document and applies style with least priority */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Adds background color #d9dcd6 to body element */
body {
  background-color: #d9dcd6;
}

/* Styles the header element's font, background-color, text color, and applies padding around content */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  text-decoration: none;
}

/* Styles header's h1 child to display inline with content */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Styles "seo" text color in header's h1 child */
.header h1 .seo {
  color: #d9dcd6;
}

/* Styles header's div child to display header element' hyperlinks to the top right of the document without bullets */
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
  list-style-type: none;
}

/* Displays header element's hyperlinks with margins between text content */
.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Styles hyperlink text colors without decoration */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Styles paragraph's font-size */
p {
  font-size: 16px;
}

/* Displays the documents hero image below the header.  */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Styles content sections' images to appear on the left*/
.float-left {
  float: left;
  margin-right: 25px;
}

/* Styles div below hero image sections' images to appear on the right*/
.float-right {
  float: right;
  margin-left: 25px;
}

/* Styles div below hero image to display sections inline holding sections and aside */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Styles content sections' font, background, and text color to display in blue blocks to the left of the div element  */
.content section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Styles content sections' images maximum height display */
.content img {
  max-height: 200px;
}

/* Styles content sections' h2 headings font size and bottom of the magrin */
.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Styles aside content's background, text color, font, and size of block to display on the right of the document */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  color: #ffffff;
}

/* Styles aside's h3 headings to center text and adjust the margin's bottom */
.benefits h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Styles the aside images' margins, maximum width, and display under the h3 headings*/
.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Styles the aside sections' margin bottoms */
.benefits section {
  margin-bottom: 34px;
}

/* Styles the document footer's font, absence of background, padding, and centered text */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Styles footer's h2 headings font size */
.footer h2 {
  font-size: 20px;
}